<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"   
  id="WebApp_ID"
  version="2.5">
  
  <servlet>
    <servlet-name>userAccountService</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.UserAccountServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userAccountService</servlet-name>
    <url-pattern>/connectr/userAccountService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>friendsService</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.FriendsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>friendsService</servlet-name>
    <url-pattern>/connectr/friendsService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>messagesService</servlet-name>
    <servlet-class>com.metadot.book.connectr.server.MessagesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>messagesService</servlet-name>
    <url-pattern>/connectr/messagesService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ConnectrApp.html</welcome-file>
  </welcome-file-list>

</web-app>
